<!DOCTYPE html>
<html lang="fa">
<head>
    <partial name="_MetaTags" />
    <title>@ViewData["Title"] - MyApp.Mvc</title>
    <partial name="_HeaderReference" />
</head>
<body>

    <div class="page-wrapper">
        <!-- start of page-header -->
        <header class="page-header d-md-block d-none">
          <partial name="_Header" />
        </header>
        <!-- end of page-header -->

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <partial name="_Footer" />
    </div>

    <partial name="_FooterReference" />

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
