@{
    ViewBag.Title = "پرداخت";
}

<h2>پرداخت</h2>

<form asp-action="Pay" method="post">
  

    <button type="submit">پرداخت</button>
</form>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <p>@ViewBag.Message</p>
}
